@import "../../bower_components/bootstrap-sass-3.3.7/assets/stylesheets/bootstrap";
@import "../../bower_components/font-awesome-sass-master/assets/stylesheets/font-awesome";

a:link{
    text-decoration: none;
}

.bto-min {
  background: none;
  border: none;
  float: right
}

.inserir,
.cadastrar,
.alterar{
  @extend .btn, .btn-primary;
  margin-bottom: 10px;
}
.txtBox{
  @extend .form-control;
  margin-bottom: 10px;
}

.tabel{
  margin-left: 8.5%
}


#fmr-alterar {
  display: block
}

.rmv {
  border: none;
  background: none
}

.panel-cadastro {
  display: block
}

.panel-alterar {
  display: none
}

.tabela {
  margin-left: 8.5%
}

.edit,
.remove{
  @extend .fa, .fa-2x;
}

.edit{
  @extend .fa-edit;
  color: black;
}

.remove{
  @extend .fa-remove;
  color: red;
}

#fmr-alterar {
  display: block
}

.rmv {
  border: none;
  background: none
}

.panel-cadastro {
  display: block
}

.panel-alterar {
  display: none
}

.disable {
  display: none;
}

.bto-clientes{
  background: none !important;
  border: none;
  color: #8aa4af;
  text-transform: uppercase;
  margin-top: 7px;
}

.bto-clientes:hover {
  color: white;
}

.esta-como{
  color: #8aa4af;
  text-transform: uppercase;
}

@import "../../bower_components/bootstrap-sass-3.3.7/assets/stylesheets/bootstrap";
.header{
  background: #e8e8e8;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logoDelivery{
  margin-bottom: 0;
  font-size: 18pt;
}

.btnCadastrar{
  margin-right: 20px;
}

.corpo{
  padding-top: 145px;
  background: url(../img/backPizzaMedia.jpg);
  background-repeat: no-repeat;
  margin: auto;
}

.corpo-cadastro {
  height: 100%;
}

.areaLogin{
  background-color: rgba(0,0,0,0.4);
  border-radius: 25px;
  border-style: outset;
  border-width: 5px;
  border-color: rgba(0,0,0,.1);
  margin-bottom: 60px;
}

.formatLabel{
  text-align: center;
  font-size: 15pt;
  color: white;
}

.welcome{
  color: white;
}

h2{
  text-align: center;
}

.footer{
  background: #e8e8e8;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

@media (min-width:1360px){
  .areaLogin{
    margin-bottom: 165px;
  }
}

.header{
  background: #e8e8e8;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logoDelivery{
  margin-bottom: 0;
  font-size: 18pt;
}

.dadosCliente{

}

h2{
  font-size: 15pt
}

h3{
  font-size: 13pt
}

hr{
  margin-top: 0;
  margin-bottom: 10px
}

.ajusteTxt,
.valorPedido,
.recibo,
.valor{
  padding-left: 0;
  padding-right: 0;
}

.ajustarBotao{
  width: 100%;
}

.ajusteTxtPedido,
.ajustarBotao,
.recibo,
.valor,
.selecPag{
  margin-top: 10px;
}

.valorPedido{
  margin-top: 10px;
}

.selecPag,
.opcPag{
  width: 100%;
}

.valor{
  margin-left: 22px;
}

.footer{
  background: #e8e8e8;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.btoAcrescimo{
  float: right;
}

.dividir-pag{
  text-align: center;
}

.verificar-pedido{
  background: rgba(80, 80, 80, 0.9);
  height: 100%;
  width: 98%;
  position: absolute;
  top: 0;
  margin-left: -20px;
  color: #ffffff;
  display: none;
}