<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <!-- Criar forma para chamar um mesmo link para todos os .css referentes ao UsuarioView e demais, colocar em um unico arquivo .css as classes que forem iguais para todos -->
</head>
<body>
<div class="container">
    <!-- Cadastro de GerenciarUsuarios-->
    <div class="col-md-1"></div>
    <div class="col-md-9">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Gerar URL
            </div>
            <div class="panel-body">
                <form id="form-gerencia" action="#" class="form-group">
                    <textarea type="text" class="txtBox" name="url" id="url" placeholder="URL: https://exemplo.com" required onkeydown="noSpace()"></textarea>
                    <input type="text" class="txtBox" name="canal" id="canal" placeholder="Canal: " data-source data-medium data-nome required>
                    <input type="text" class="txtBox" name="pag-campanha" id="campanha" placeholder="Campanha: " onkeydown="noSpace()" required>
                    <input type="text" class="txtBox" name="termo" id="termo" placeholder="Termo da Campanha: " onkeydown="noSpace()">
                    <input type="text" class="txtBox" name="conteudo" id="conteudo" placeholder="Conteúdo da Campanha: " onkeydown="noSpace()">
                    <input type="hidden" name="inserir" value="inserir">
                    <textarea id="url-final" name="url-final" class="txtBox" placeholder="URL Final:" readonly></textarea>

                    <button name="copiar" id="copiar" class="btn btn-primary" type="submit">Copiar URL
                    </button>
                </form>
                <p id="msgErro" class='alert-danger' style='text-align: center; display: none;'>Canal inválido, tente novamente.</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>